REACT_APP_API_ENDPOINT=https://api.eventjuicer.com/v1/restricted
REACT_APP_LOCALE=en
REACT_APP_THEME=red
REACT_APP_SITENAME=expojuicer
REACT_APP_GTM=GTM-TJPXHWC
REACT_APP_MENU_ITEMS=companydata,representatives,ranking,campaigns,contacts,rewards,newsletters,creatives,social,visitors,meetups,scans
REACT_APP_HOMEPAGE=https://targiehandlu.pl/


REACT_APP_SLACK=https://hooks.slack.com/services....
REACT_APP_SLACK_CHANNEL=#expojuicer
