REACT_APP_API_ENDPOINT=https://api.eventjuicer.com.local/v1/restricted
REACT_APP_SITENAME="expojuicer master"
REACT_APP_THEME=red
REACT_APP_GTM=
REACT_APP_HOMEPAGE=https://targiehandlu.pl
REACT_APP_REP_TICKET_ID=1
REACT_APP_PARTY_TICKET_ID
REACT_APP_SLACK=https://hooks.slack.com/services/....
REACT_APP_SLACK_CHANNEL=#dev_local
REACT_APP_LOCALE=en
REACT_APP_LOCALISE="odvvvvv3Nt"
REACT_APP_BASEHOST=targiehandlu.pl
REACT_APP_LOCALES="en,pl"
REACT_APP_FULL_ACCESS_ACCOUNT=
 